<html>
<head>
<title>Assignment</title>
    </head>
<body>
<h1>Upload Image</h1>

        <form action="/api/images/" method="POST" enctype="multipart/form-data">
            <label for="file">File</label>
            <input type="file" name="file">
            <label for="title">Title</label>
            <input type="text" name="title">
            <label for="author">Author</label>
            <input type="text" name="author">
            <label for="tags">Tags</label>
            <input type="text" name="tags">
            <input type="submit" value="Upload image">
        </form>
    </body>
</html>